.container{
    margin: 20px 60px;
    overflow: hidden;
}
.card{
    width: 100%;
    height: 300px;
    background-color: white;
    border-bottom: 10px;
    border-radius: 10px;
}
.content{
    display: flex;
    justify-content: space-around;
    
}
.text{
   font-size: 15px;
   padding: 0 30px;
}
.text h4{
    color:grey;
    font-size: 20px;
}
.author{
    font-weight: bolder;
    color: rgb(61, 33, 221);
}
.text p{
    font-weight: lighter;
    width: 500px;
}
.time{
    color: grey;
}
.link{
    text-decoration: none;
    font-weight: bold;
}
.img{
    border-radius: 20px;
    width: 300px;
    height: 200px;
     padding: 30px 0;
    
   
}

@media only screen and (max-width:768px){
    .container{
        margin: 20px 10px;
        align-items: center;
    }
    .card{
      width:100%;
      height: 100%;
    }
    .content{
        flex-wrap: wrap;
        padding: 0 10px;
    }
    .text{
        padding:0;
        width: 100%;
    }
    .text p{
        width:100%;
    }
    .author{
        width:100%;
    }
}
