@import './normalize.css';

html,
body {
  background-color:peachpuff;
}

* {
  font-family: 'Roboto', sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(189, 171, 171, 0.2);
  transition: 0.3s;
  border-radius: 2px;
  border: 1px solid grey;
  border-bottom: 15px;
}
